:root {
  // Colors
  --color-white: #FFFFFF;
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-black: #000000;


  // Typography
  --ff-main: "Open Sans", "Arial", sans-serif;


  // Transitions
  --transition-200: 0.3s ease-in;
  
}